@import url(explanation/explanation.css);

.main {
    background-color: #F3F3F3;
    color: #111;
}

.main__container {
    margin: 150px auto 100px;
    padding-bottom: 10px;
    width: 80%;
}
